.pagination-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: right;
    .pagination{
        margin-right: 30px;
        text-align: center;
        display: inline-block;
        li{
            display: inline;
            cursor: pointer;
            font-size: 15px;
            a{
                padding: 5px 7px;
                &:focus{
                    outline: 0;
                }
            }
            &.active{
                a{
                    background-color: black;
                    color: white;
                    font-size: 14px;
                    border-radius: 3px;
                }
            }
        }
    }
  }
  
.badge.service-types{
    border: 0px;
    font-weight: 100;
    &.success{
        color: #58BD72;
        background-color: #E7F8EC;
    }
    &.paid{
        color: #376EAF;
        background-color: #E7F2F8;
    }
    &.accepted{
        color: #9453F9;
        background-color: #F9F5FF;
    }
    &.danger{
        color: #D03B3B;
        background-color: #FFF2F2;
    }
    &.cancelled{
        background-color: #FFFEF4;
    }
}

.alert-dismissable.alert-success{
    background-color: #25A847;
    i{
        color: white;
        opacity: 1;
        font-size: 22px;
    }
    button{
        display: none;
    }
    h4{
        font-size: 16px;
        color: white;
        margin-bottom: 0px;
        font-weight: bold;
    }
}

.upload{
    position: absolute;
    border-radius: 50%;
    bottom: 5px;
    left: 60px;
    &-btn{
        display: none;
        &-label{
            cursor: pointer;
            background-color: #863DF9;
            padding: 5px 10px;
            border-radius: 50%;
            color: white;
            
        }
    }
}

.cucu-button{
    background-color: #863DF9;
    &:hover, &:active, &:focus{
        background-color: #6934be !important;
    }
    &:disabled{
        background-color: #9a5efc;
    }

}

.cucu-dropdown{
    button{
        color: #863df9;
        border-color: #863df9;
        background-color: transparent;
        &:after{
            display: none;
        }
        &:hover, &:active, &:focus{
            background-color: #863df9 !important;
            color: white;
            box-shadow: none;
        }
    }
}

.ico-user{
    object-fit: cover;
}

nav.navbar{
    padding-bottom: 0px;
}
.navbar-nav{
    .item-menu{

        p{
            color: #B7B7B7;
            font-size: 18px;
        }
        &.active{
            p{
                color: #212529;
                font-family: "Acumin Pro";
                font-weight: normal;
            }
            border-bottom: 3px solid #863DF9;
        }
        @media screen and (min-width: 768px) {
            padding: 10px 30px !important;
        }
    }
    
}

.flag-select{
  
    .flag-select__btn{
        color: black !important;
        font-size: 18px !important;

        &:focus{
            outline: none;
        }
        
      
        &:after{
            border-top: 5px solid #4d4d4d !important;
            border-left: 6px solid transparent !important;
            border-right: 6px solid transparent !important;
            border-bottom: 0;
            position: relative;
            top: 0px;
        }
    }

    &__option{
        margin: 0px 0 !important;
        &__icon{
            vertical-align: baseline;
        }
    }

    &__options{
        right: 0px;
    }
      
}

.login-container .flag-select{
    float: right;
    position: relative;
    top: 7px;
}

.signup .flag-select{
    float: right;
    position: relative;
    top: 22px
}

